table {
  width: 100%;
}

.mat-row:hover .mat-cell {
  background-color: rgb(221, 217, 243);
}

img {
  max-height: 100px;
}

td {
  cursor: pointer;
}

.active {
  background-color: rgb(188, 180, 233);
}
