<mat-form-field>
  <mat-label>Search Title</mat-label>
  <input matInput [(ngModel)]="searchedText" />
</mat-form-field>

<button mat-raised-button (click)="show()">
  Search
</button>

<table mat-table [dataSource]="movieList.Search" class="mat-elevation-z8">
  <ng-container matColumnDef="Title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td
      mat-cell
      *matCellDef="let movie"
      routerLink="{{ movie.imdbID }}"
      class="details"
    >
      {{ movie.Title }}
    </td>
  </ng-container>

  <ng-container matColumnDef="Year">
    <th mat-header-cell *matHeaderCellDef>Year</th>
    <td
      mat-cell
      *matCellDef="let movie"
    >
      {{ movie.Year }}
    </td>
  </ng-container>

  <ng-container matColumnDef="Poster">
    <th mat-header-cell *matHeaderCellDef>Poster</th>
    <td
      mat-cell
      *matCellDef="let movie"
    >
      <img src="{{ movie.Poster }}" alt="" />
    </td>
  </ng-container>

  <ng-container matColumnDef="Options">
    <th mat-header-cell *matHeaderCellDef>Options</th>
    <td
      mat-cell
      *matCellDef="let movie"
    >
      <button mat-raised-button (click)="addToWishList(movie.Title)">
        To Wishlist
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
  [length]="numberOfMovies"
  [pageSize]="10"
  [pageSizeOptions]="[10]"
  class="mat-elevation-z8"
  (page)="onPageChange($event)"
>
</mat-paginator>
<hr />

<app-wishlist></app-wishlist>